.gitignore
yad.conf
BraveSoftware
gtk-2.0
lxpanel
procps
update-notifier
gtk-3.0
lxsession
pulse
user-dirs.dirs
atril
hexchat
matplotlib
QtProject.conf
user-dirs.locale
autostart
htop
menus
ristretto
vlc
Code
mimeapps.list
VSCodium
configstore
Mousepad
singularity
dconf
ibus
neofetch
Slack
xubuntu
evolution
Joplin
pavucontrol.ini
tasque
yad.conf
GIMP
joplin-desktop
pcmanfm
texstudio
zoomus.conf
kitty
Thunar
git
libfm
polybar
transmission
libreoffice
polybar.old
Trolltech.conf
