[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aucarle/Bureau/Doctorat]
row=2
col=18

[/home/aucarle/Bureau/Administratif]
row=3
col=18

[Corbeille]
row=1
col=18

[/home/aucarle]
row=0
col=18

