[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aucarle/Bureau/Doctorat]
row=3
col=20

[/home/aucarle/Bureau/Administratif]
row=4
col=20

[Corbeille]
row=0
col=20

[/]
row=1
col=20

[/home/aucarle]
row=2
col=20

